.stories {
    display: grid;
    grid: 1fr / auto-flow 100%;
    gap: 1ch;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    touch-action: pan-x;
}

.user {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.story {
    grid-area: story;

    background-size: cover;
    background-image:
        var(--bg),
        linear-gradient(to top, lch(98 0 0), lch(90 0 0));

    user-select: none;
    touch-action: manipulation;

    transition: opacity .3s cubic-bezier(0.4, 0.0, 1, 1);

    &.seen {
        opacity: 0;
        pointer-events: none;
    }
}